// X-Small devices (portrait phones, less than 576px)
@media screen and (max-width: 575.98px) {
    .info-jenjang-pendidikan .card {
        margin-top: 2px;
        color: white;
        border-radius: 0%;
        margin-right: 2px;
    }

    .logoYayasan {
        text-align: center;
    }
}

// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {
    .logoYayasan {
        align-items: center;
    }
}

// Medium devices (tablets, less than 992px)
@media screen and (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media screen and (max-width: 1199.98px) {}

// X-Large devices (large desktops, less than 1400px)
@media screen and (max-width: 1399.98px) {}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
